$primary: #FF9900;
$secondary: #1B1B1B;
$text-input: lighten($color: $secondary, $amount: 5);

$bg-primary: #000000;
$bg-secondary: #1B1B1B;

$text-primary: #FFFFFF;
$text-secondary: darken($color: $text-primary, $amount: 10);

$border-radius: 4px;
$form-border-radius: 8px;
