@import 'Colors.scss';

img{
    border-radius: $border-radius;
    height: auto;
    width: 300px;
}

.infocontainer{
    width: auto;
    height: auto;
    display: flex;

}

.moviereview{
    position: relative;
    background-color: transparent;
    transition: box-shadow 0.3s;
    margin: 20px;
    height: auto;
    width: auto;
    border-radius: $border-radius;
}

.movieimg{
    position: relative;
    height: auto;
    border-radius: $border-radius;
    transition: 0.3s;

    &:hover{
        box-shadow: 0px 0px 15px $primary;
        filter: blur(3px);
    }
}

.img-overlay{
    position: absolute;
    border-radius: $border-radius;
    transition: box-shadow 0.3s;
    height: auto;
    width: auto;
    display: none;
    
    &:hover{
        display: block;
    }
}