@import 'Colors.scss';

.infocontainer{
    width: auto;
    height: auto;
    display: flex;
}

.moviereview{
    background-color: $secondary;
    transition: box-shadow 0.3s;
    margin: 20px;
    height: 500px;
    width: 300px;

    &:hover{
        box-shadow: 5px 5px 15px orange;
    }
}