@import './Colors.scss';

.btn{
    &-primary{
        @extend .btn;
        background-color: $primary;
        color: $secondary;
        font-weight: bold;

        border-radius: $border-radius;
        padding: 4px 8px;
    }

    &:focus{
        outline: lighten($color: $primary, $amount: 10) 2px solid;
    }
}

input:focus{
    outline: 1px solid $primary;
}

.orange-span{
    color: $primary;
}

.link{
    cursor: pointer;
    text-decoration: underline;
}

body{
    background-color: $bg-primary;
}

.primary-scroll{
    overflow-y: scroll;
}
